@page "/"

<h1>Welcome!</h1>

<p>This is Sims 3's HousePriceApp. Predict house prices in available locations and visualize engaging charts regarding prices.</p>

<div class="row">
    <div class="col-xl-6">
        <h3>
        </h3>
        <RadzenGoogleMap style="height: 400px" Zoom=@zoom Center=@(new GoogleMapPosition() { Lat = 42.6977, Lng = 23.3219 })>
            <Markers>
                <RadzenGoogleMapMarker Title="Texas" Label="Texas" Position=@(new GoogleMapPosition() { Lat = T.GetLat(), Lng = T.GetLong() }) />
                <RadzenGoogleMapMarker Title="Melbourne " Label="Melbourne" Position=@(new GoogleMapPosition() { Lat = M.GetLat(), Lng = M.GetLong() }) />
            </Markers>
        </RadzenGoogleMap>
    </div>
    
</div>

@code {
    int zoom = 1;
    bool showMadridMarker;
    City T = new City();
    City M = new City();


    protected async override Task OnInitializedAsync()
    {
        T.Type = CityType.Texas;
        M.Type = CityType.Melbourne;

    }
}

